*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.icon-nav{
    position: relative;
    color: #FFFFFF8C;
}
.icon-nav:hover{
    color: white;
}
.circle{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(238, 13, 13, 0.845);
    color: white;
    text-align: center;
    font-size: 12px;
    top: 10px;
    right: 65px;
}

section{
    min-height: 80vh;
}

/* style footer */
footer{
    position: static;
    bottom: 0;
    background-color: #615EFC;
    color: white;
}